<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='styles/about.css')}}"> 
    </head>

    <body>
        <div>
            <nav>
                <ul>
                    <li><a href = "/">Home</a></li>
                    <li><a class = "active" href = "/About">About</a></li>
                    <li><a href = "/Resume">Resume</a></li>
                </ul>
            </nav>
        </div>
        
        <div class = "about">
            <h1 style = "font-size: 50px; color: #FD971F;">About me!</h1>
            I am a junior at&#160;<a id = "school" href = "https://csumb.edu/">Cal State University, Monterey Bay.</a>
            <!-- include more basic information like a part of CSUMB CS++, from Sacramento, first-generation college student, -->
            <div style = "width: 100%;"></div>
            <div style = "width: 100%;"></div>
            <!-- have another section for deeper abouts. This below would be a part of that section -->
            I started coding at 15 years old in Monterey Trail High School's Design and Technology Academy (DATA).
        </div>

        <div>
            
        </div>



        <div class ="container">
            <div class="item-a">item-a</div>
            <div class="item-b">item-b</div>
            <div class="item-c">item-c</div>
            <div class="item-d">item-d</div>
            <div class="item-e">item-e</div>
        </div>
    </body>
</html>