<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='styles/about.css')}}"> 
    </head>

    <body>
        <div>
            <nav>
                <ul>
                    <li><a href = "/">Home</a></li>
                    <li><a class = "active" href = "/About">About</a></li>
                    <li><a href = "/Resume">Resume</a></li>
                </ul>
            </nav>
        </div>

        <div class = "flex-grid">
            <div class = "col">JULIA</div>
            <div class = "col">JULIA</div>
            <div class = "col">JULIA</div>

        </div>
    </body>
</html>