<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='styles/about.css')}}"> 
    </head>

    <body>
        <div>
            <nav>
                <ul>
                    <li><a href = "/">Home</a></li>
                    <li><a class = "active" href = "/About">About</a></li>
                    <li><a href = "/Resume">Resume</a></li>
                </ul>
            </nav>
        </div>
        
        <div class = "about">
            <h1 style = "font-size: 50px; color: #FD971F;">About me!</h1>
            I am a junior at&#160;<a id = "school" href = "https://csumb.edu/">Cal State University, Monterey Bay.</a>
            <!-- include more basic information like a part of CSUMB CS++, from Sacramento, first-generation college student, -->


            <!-- have another section for deeper abouts. This below would be a part of that section -->

            <div class = "about2">
                <p>I started coding at 15 years old in Monterey Trail High School's Design and Technology Academy (DATA).</p>
                <p>Now in college, I've grown a lot as a Software Engineer, always finding opportunities to become a better SWE.</p>
                <p>I am in CSUMB's <a id= "csp" href = "https://csumb.edu/scd/cs-learning-community/">CS++ Cohort</a>, a four-year program geared to better prepare CS students for the Software Engineering industry.</p>
                <p>I've participated in <a id = "g" href = "https://edu.google.com/intl/mn/resources/programs/computer-science-summer-institute/">Google's Computer Science Summer Institute (CSSI)</a> and <a id = "c" href = "https://www.linkedin.com/posts/russelldevera_capitalone-thankyou-softwareengineering-activity-6753891039175700481-PVG_">Capital One's Software Engineering Summit</a>.</p>
                <p>With the knowledge from those experiences, classes, and my own endeavors to learn about Software Engineering, I was 
                    able to receive the opportunity to be a <a id = "socool" href = "https://www.linkedin.com/posts/russelldevera_uber-intern-softwareengineer-activity-6836056588864884736-1R0N">Software Engineer Intern for Uber!</a></p>
                <p>With industry experience (and the excitement of seeing my work on the ACTUAL UBEREATS APP), I am more confident than ever as an engineer and I am still striving to learn the most that I possibly can.</p>
                <p>I want to continue to work on mobile development, and my goal is to release some type of mobile app before I graduate!</p>
                <!-- 
                I've participated in Google's Computer Science Summer Institute (CSSI) and Capital One's Software Engineering Summit.
                With the knowledge from those experiences, classes, and my own endeavors to learn about Software Engineering, I was 
                able to receive the opportunity to be a Software Engineer Intern for Uber! -->

                <div class = "about2"> </div>
            </div>
        </div>



    </body>
</html>