<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='styles/home.css')}}"> 
    </head>

    <body>      
        <div>
            <nav>     
                <a class="left" href="https://www.linkedin.com/in/russelldevera/" target="_blank" ><img src = "/static/images/linkedin.png"></a>
                <a class="left" href="https://github.com/russell-d" target="_blank" ><img src = "/static/images/github.png"></a>
                <a class="left">Graduation: May 2023</a>
                <ul>               
                    <li><a class = "active" href = "/">Home</a></li>
                    <li><a href = "/About">About</a></li>
                    <li><a href = "/Resume">Resume</a></li>            
                </ul>
            </nav>
        </div>

        <div class = "introduction">
            <h1 class = "purple" style = "font-size: 70px;"> Welcome! </h1>
            My name is&#160;<a id = "name" href = "/About">Russell De Vera</a>
            <div style = "width: 100%;"></div>
            <p style = "font-size: 30px;">I am an Aspiring Software Engineer from Sacramento, CA.</p>
            <div style = "width: 100%;"></div>
            &#160;
            <div style = "width: 100%;"></div>
            &#160;
            <div style = "width: 100%;"></div>
            &#160;
            <div style = "width: 100%;"></div>
            &#160;
            <p id = "stay_curious">&#160;&#160;&#160;
                <span id = "s">s</span><span id = "t">t</span><span id = "a">a</span><span id = "y">y</span>
                <span id = "c">c</span><span id = "u">u</span><span id = "r">r</span><a id = "i" href = "/About">i</a><span id = "o">o</span><span id = "u2">u</span><span id = "s2">s</span> 
            </p>
        </div>
             
    </body>


</html>