<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='styles/home.css')}}"> 
    </head>

    <body>
        <div>
            <nav>
                <ul>
                    <li><a class = "active" href = "/">Home</a></li>
                    <li><a href = "/About">About</a></li>
                    <li><a href = "/Resume">Resume</a></li>
                </ul>
            </nav>
        </div>

        <div class = "introduction">
            <h1 class = "purple" style = "font-size: 70px;"> Welcome! </h1>
            My name is&#160;<a id = "name" href = "/About">Russell De Vera</a>
             

        </div>
    </body>


</html>