<!DOCTYPE html>
<html>

 <head>
       <link rel="stylesheet" href="{{url_for('static',filename='styles/resume.css')}}"> 
</head>

  <body>
    <div>
        <nav>     
            <a class="left" href="https://www.linkedin.com/in/russelldevera/" target="_blank" ><img src = "/static/images/linkedin.png"></a>
            <a class="left" href="https://github.com/russell-d" target="_blank" ><img src = "/static/images/github.png"></a>
            <ul>               
                <li><a class = "active" href = "/">Home</a></li>
                <li><a href = "/About">About</a></li>
                <li><a href = "/Resume">Resume</a></li>            
            </ul>
        </nav>
    </div>

    <iframe class = "resume" src="/static/images/Resume - Russell De Vera.pdf" >
    </iframe>
  </body>
</html>