html{
    scroll-behavior: smooth;
}

/* GIT ERROR TEST */

*{
    background-color: #272822;
    font-family: Consolas, monaco, monospace;
    margin: 0px;
}

.left{
    line-height: 150px;
    margin-left: 40%;
}

.left > img{
    height: 40px;
    width: 40px;
}

nav{
    color:  #d6d6d6;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    font-size: large;
}

ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    float:right;
    padding-right: 3%;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    line-height: 90px;
    margin: 0 5px;
    
}

nav ul li a{
    font-size: 23px;
    text-decoration: none;
    color:  #d6d6d6;
    transition: .5s;
}

a.active{
    color: #FD971F;
}

nav a:hover{
    color: #66D9EF;
    transition: .5s;
}

.info{
    float:right;
    top:5px;
}

.introduction{
    color: #D6D6D6;
    font-size: 30px;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    border: 0px solid white;
    margin: auto;
    margin-top: 8%;
    width: 60%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.introduction #name{
    font-weight: bold;
    font-size: 50px; 
    text-decoration: none; 
    color:#A6E22E;
    transition: 1s;
}
.introduction #name:hover{
    color: #F92672;
    transition: 1s;
}

.introduction #about{
    font-weight: bold;
    text-decoration: none;
    color: #66D9EF;
    transition: 1s;
}
.introduction #about:hover{
    color: #F92672;
    transition: 1s;
}

.introduction #stay_curious{
    font-size: 80px;
    text-align: center;
}

#s:hover{
    color:#66D9EF;
    transition: .5s;
}
#s{
    color:#F92672;
    transition: .5s;
}
#t:hover{
    color:#A6E22E;
    transition: .5s;
}
#t{
    color:#FD971F;
    transition: .5s;
}
#a:hover{
    color:#66D9EF;
    transition: .5s;
}
#a{
    color:#E6DB74;
    transition: .5s;
}
#y:hover{
    color:#A6E22E;
    transition: .5s;
}
#y{
    color: #AE81FF;
    transition: .5s;
}
#c:hover{
    color:#FD971F;
    transition: .5s;
}
#c{
    color:#66D9EF;
    transition: .5s;
}
#u:hover{
    color:#AE81FF;
    transition: .5s;
}
#u{
    color:#F92672;
    transition: .5s;
}
#r:hover{
    color:#FD971F;
    transition: .5s;
}
#r{
    color:#A6E22E;
    transition: .5s;
}
#i:hover{
    
    color: #d6d6d6;
    transition: 1s;
}
#i{
    color: #272822;
    transition: 1s;
    text-decoration: none;
    font-weight: bold;
}
#o:hover{
    color:#66D9EF;
    transition: .5s;
}
#o{
    color:#AE81FF;
    transition: .5s;
}
#u2:hover{
    color:#A6E22E;
    transition: .5s;
}
#u2{
    color:#FD971F;
    transition: .5s;
}
#s2:hover{
    color:#F92672;
    transition: .5s;
}
#s2{
    color:#E6DB74;
    transition: .5s;
}
.purple{
    color: #AE81FF;
}

